/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}


html,body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  /*font: 13.34px Helvetica, Arial, sans-serif;*/
  font-size: small;
  text-align: center;
  overflow:auto;
  background:url("/res/home-background.jpg") no-repeat center center fixed;
  /*background-size: 100% auto;*/
       background-size: 100% 100%;

}

.site{
	width:70%;
margin:auto;
border-radius:10px;
margin-bottom:0;
background:#FFF;
min-height: 100%;
    height: auto !important;
    height: 100%;

	
}
.transparent80 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=80);
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.8;
    /* Older than Firefox 0.9 */
    -moz-opacity:0.8;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.8;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 0.2em;
	margin-left:0.2em;
 }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header{
width:95%;	
}
.header a {
  font-weight: bold;
  text-decoration: none;

}

.title {
	font-family: 'Shadows Into Light Two', cursive;
  font-family: shadows;
  display: inline-block;
  font-size: 7em;
margin:0;
padding:0;
  padding-top:0.3em;
  
	
}

.title a {
	text-align:left;
font-family: 'Rokkitt', serif;
  color: #333;
}


.header a.extra {
	font-family: 'Rokkitt', serif;
	font-size: 2.5em;
margin-left:1em;
	color: #777;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
.aboutus{
	padding-top:1em;
width:80%;
margin:auto;
}
.aboutus p{
	font-size: 1.5em;
	text-align:justify;	
}


.cutFlowers{
	padding-top:1em;
margin:auto;
height:100%;
margin:20px;
}
.cutFlowers p{	
	font-size: 1.5em;
	text-align:justify;
margin:auto;
width:90%;
}
.cutFlowers input{
	text-align:left;
}
.cutFlowers p:last-child{	
padding-bottom:2em;
}
.cutFlowers img{
	width:50%;
margin-left:1em;
border-radius:10px;
float:right;
}


.transparent100 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=100);
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 1;
    /* Older than Firefox 0.9 */
    -moz-opacity:1;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 1;
}
.currentPage {
	color:#400;
}

.doHide{
	display: none;
}

.steps{
	width:100%;
}

.interactive{
text-align:left;
margin: 10px;
float:left;
}
.interactive div{
}
.interactive label{
	font-size	:2em;
	color:#000;
cursor:pointer;	
}

.interactive .step{
	background:#aaa;
	color:#000;
padding:10px;
border-radius:10px;
	
}
