<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site transparent80">
          <div class="header">
            	<div><h1 class="title"><a href="/">{{ site.name }}</a></h1>
		</div>
		<div>
			<a class="extra" href="/">News</a>
			<a class="extra" href="/aboutus.html">About us</a>
		        <a class="extra" href="/">Cut flowers</a>
			<a class="extra" href="/">Planting design</a>
			<a class="extra" href="/">Portfolio</a>	
			<a class="extra" href="/">Contact</a>	
		</div>
          </div>

        
        </div>

    </body>
</html>
